In [ ]:
import sqlite3 as conector

Como o SQLite trabalha com arquivo e não tem suporte à autenticação, para se conectar a um banco de dados SQLite, basta chamar a função connect do módulo sqlite3, passando como argumento o caminho para o arquivo que contém o banco de dados.

Veja a sintaxe a seguir:

In [ ]:
import sqlite3
conexao = sqlite3.connect('meu_banco.db')

Pronto! Isso é o suficiente para termos uma conexão com o banco de dados meu_banco.db e iniciar o envio de comandos SQL para criar tabelas e inserir registros.

Caso o arquivo não exista, ele será criado automaticamente! O arquivo criado pode ser copiado e compartilhado.

Se quisermos criar um banco de dados em memória, que será criado para toda execução do programa, basta utilizar o comando conexao = sqlite3.connect(':memory:').

In [ ]:
import sqlite3 as conector

try:
    # Abertura de conexão e aquisição de cursor
    conexao = conector.connect("./meu_banco.db")
    cursor = conexao.cursor()

    # Execução de um comando: SELECT... CREATE ...
    comando = '''CREATE TABLE Pessoa (
                    cpf INTEGER NOT NULL,
                    nome TEXT NOT NULL,
                    nascimento DATE NOT NULL,
                    oculos BOOLEAN NOT NULL,
                    PRIMARY KEY (cpf)
                    );'''

    cursor.execute(comando)

    # Efetivação do comando
    conexao.commit()

except conector.DatabaseError as err:
    print("Erro de banco de dados", err)

finally:
    # Fechamento das conexões
    if conexao:
        cursor.close()
        conexao.close()

In [ ]:
# Comando SQL para visualizar tabelas
comando_sql = '''
    SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
'''
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Executar o comando SQL
print(cursor.execute(comando_sql))

# Obter todos os resultados da consulta
tabelas = cursor.fetchall()

# Exibir os nomes de todas as tabelas
for tabela in tabelas:
    print(tabela[0])

#Fechando conexão
cursor.close()
conexao.close()

<sqlite3.Cursor object at 0x7e36c84ac6c0>
Pessoa

In [ ]:
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

comando = '''CREATE TABLE Marca (
  id INTEGER NOT NULL,
  nome TEXT NOT NULL,
  sigla CHARACTER(2) NOT NULL,
  PRIMARY KEY (id)
)'''

cursor.execute(comando)

conexao.commit()

cursor.close()
conexao.close()

In [ ]:
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

comando = '''CREATE TABLE Veiculo (
  placa CHARACTER(7) NOT NULL,
  ano INTERGER NOT NULL,
  cor TEXT NOT NULL,
  proprietario INTERGER NOT NULL,
  marca INTEGER NOT NULL,
  PRIMARY KEY (placa),
  FOREIGN KEY(proprietario) REFERENCES Pessoas(cpf),
  FOREIGN KEY(marca) REFERENCES Marca(id)
); '''

cursor.execute(comando)

conexao.commit()

cursor.close()
conexao.close()

#ALTERAÇÃO E REMOÇÃO DE TABELA
Neste momento, temos o nosso banco com as três tabelas

Durante o desenvolvimento, pode ser necessário realizar alterações no nosso modelo e, consequentemente, nas nossas tabelas. Nesta parte do módulo, vamos ver como podemos fazer para adicionar um novo atributo e como fazemos para remover uma tabela.

Para alterar uma tabela e adicionar um novo atributo, precisamos utilizar o comando ALTER TABLE do SQL.

Para ilustrar, vamos adicionar mais um atributo à entidade Veiculo.

O atributo se chama motor e corresponde à motorização do carro: 1.0, 1.4, 2.0 etc. Esse atributo deverá conter pontos flutuantes e, por isso, vamos defini-lo como do tipo REAL.

Para alterar a tabela Veículo e adicionar a coluna motor, utilizamos o seguinte comando SQL.

In [ ]:
'''
ALTER TABLE Veiculo
ADD motor REAL;
'''

'\nALTER TABLE Veiculo\nADD motor REAL;\n'

In [ ]:
conexao = conector.connect('./meu_banco.db')
cursor = conexao.cursor()

comando = '''ALTER TABLE Veiculo ADD motor REAL; '''

cursor.execute(comando)

conexao.commit()

cursor.close()
conexao.close()

Excluir tabela para recriar na sequencia certa

In [ ]:
conexao = conector.connect('./meu_banco.db')
cursor = conexao.cursor()

comando1 = ''' DROP TABLE Veiculo '''

cursor.execute(comando1)

In [ ]:
comando2 = '''CREATE TABLE Veiculos (
  placa CHARACTER(7) NOT NULL,
  ano INTEGER NOT NULL,
  cor TEXT NOT NULL,
  motor REAL NOT NULL,
  proprietario INTEGER NOT NULL,
  marca INTEGER NOT NULL,
  PRIMARY KEY (placa),
  FOREIGN KEY(proprietario) REFERENCES Pessoa(cpf)
  FOREIGN KEY(marca) REFERENCES Marca(id)
) '''

cursor.execute(comando2)

conexao.commit()

cursor.close()
conexao.close()

In [ ]:
# Comando SQL para visualizar tabelas
comando_sql = '''
    SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
'''
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Executar o comando SQL
print(cursor.execute(comando_sql))

# Obter todos os resultados da consulta
tabelas = cursor.fetchall()

# Exibir os nomes de todas as tabelas
for tabela in tabelas:
    print(tabela[0])

#Fechando conexão
cursor.close()
conexao.close()

<sqlite3.Cursor object at 0x7e36c84acd40>
Marca
Pessoa
Veiculos

Agora as tabelas estão criadas e relacionadas

# Inserir Dados nas tabelas

O Comando SQL para inserção desses dados é o seguinte:

In [ ]:
'''
INSERT INTO Pessoa (cpf, nome, nascimento, oculos)
VALUES (12345678900, 'João', '2000-01-31', 1);
 '''

"\nINSERT INTO Pessoa (cpf, nome, nascimento, oculos)\nVALUES (12345678900, 'João', '2000-01-31', 1);\n "

Observe que alteramos a formatação da data para se adequar ao padrão de alguns bancos de dados, como MySQL e PostgreSQL. Para o SQLite será indiferente, pois o tipo DATE será convertido por afinidade para NUMERIC, que pode ser de qualquer classe. Na prática, será convertido para classe TEXT.

Além disso, utilizamos o valor “1” para representar o booleano True. Assim como o DATE, o BOOLEAN será convertido para NUMERIC, porém, na prática, será convertido para classe INTEGER.

In [ ]:
#conexão
conexao = conector.connect('./meu_banco.db')
cursor = conexao.cursor()

#comando sql
comando = ''' INSERT INTO Pessoa (cpf, nome, nascimento, oculos) VALUES (45192823811, 'Raul', '1998-02-26', 1); '''

#executando comando
cursor.execute(comando)

#commit
conexao.commit()

cursor.close()
conexao.close()

#INSERÇÃO DE DADOS EM TABELA COM QUERIES DINÂMICAS

In [ ]:

class Pessoa:
    def __init__(self, cpf, nome, data_nascimento, usa_oculos):
        self.cpf = cpf
        self.nome = nome
        self.data_nascimento = data_nascimento
        self.usa_oculos = usa_oculos
        self.veiculos = []

In [ ]:

# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Criação de um objeto do tipo Pessoa
pessoa = Pessoa(10000000099, 'Maria', '1990-01-31', False)

# Definição de um comando com query parameter
comando = '''INSERT INTO Pessoa (cpf, nome, nascimento, oculos) VALUES (?, ?, ?, ?);'''
cursor.execute(comando, (pessoa.cpf, pessoa.nome, pessoa.data_nascimento, pessoa.usa_oculos))

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

#INSERÇÃO DE DADOS EM TABELA COM QUERIES DINÂMICAS E NOMES

In [ ]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Criação de um objeto do tipo Pessoa
pessoa = Pessoa(20000000099, 'José', '1990-02-28', False)

# Definição de um comando com query parameter
comando = '''INSERT INTO Pessoa (cpf, nome, nascimento, oculos)
                    VALUES (:cpf,:nome,:data_nascimento,:usa_oculos);'''
cursor.execute(comando, {"cpf": pessoa.cpf,
                         "nome": pessoa.nome,
                         "data_nascimento": pessoa.data_nascimento,
                         "usa_oculos": pessoa.usa_oculos})

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

, vamos inserir alguns registros nas outras tabelas, de forma a povoar nosso banco de dados. Vamos utilizar a mesma lógica do exemplo anterior, no qual utilizamos a função vars() e argumentos nomeados.

Primeiro, vamos criar mais duas classes no nosso módulo modelo.py para representar as entidades Marca e Veiculo.

In [ ]:

class Marca:
    def __init__(self, nome, sigla):

        self.nome = nome
        self.sigla = sigla

class Veiculo:
    def __init__(self, placa, ano, cor, motor, proprietario, marca):
        self.placa = placa
        self.ano = ano
        self.cor = cor
        self.motor = motor
        self.proprietario = proprietario
        self.marca = marca

In [ ]:

conexao = conector.connect("./meu_banco.db")
conexao.execute("PRAGMA foreign_keys = on")
cursor = conexao.cursor()

# Inserção de dados na tabela Marca
comando1 = '''INSERT INTO Marca (nome, sigla) VALUES (:nome, :sigla);'''

marca1 = Marca("Marca A", "MA")
cursor.execute(comando1, vars(marca1))
marca1.id = cursor.lastrowid

marca2 = Marca("Marca B", "MB")
cursor.execute(comando1, vars(marca2))
marca2.id = cursor.lastrowid

# Inserção de dados na tabela Veiculo
comando2 = '''INSERT INTO Veiculos
                VALUES (:placa, :ano, :cor, :motor, :proprietario, :marca);'''
veiculo1 = Veiculo("AAA0001", 2001, "Prata", 1.0, 10000000099, marca1.id)
veiculo2 = Veiculo("BAA0002", 2002, "Preto", 1.4, 10000000099, marca1.id)
veiculo3 = Veiculo("CAA0003", 2003, "Branco", 2.0, 20000000099, marca2.id)
veiculo4 = Veiculo("DAA0004", 2004, "Azul", 2.2, 30000000099, marca2.id)
cursor.execute(comando2, vars(veiculo1))
cursor.execute(comando2, vars(veiculo2))


# Efetivação do comando
conexao.commit()
# Fechamento das conexões
cursor.close()
conexao.close()

In [ ]:
'''
ASSIM FICARAM OS COD

INSERT INTO Marca (nome, sigla) VALUES ('Marca A', 'MA')
INSERT INTO Marca (nome, sigla) VALUES ('Marca B', 'MB')
INSERT INTO Veiculo VALUES ('AAA0001', 2001, 'Prata', 1.0, 10000000099, 1)
INSERT INTO Veiculo VALUES ('BAA0002', 2002, 'Preto', 1.4, 10000000099, 1)
INSERT INTO Veiculo VALUES ('CAA0003', 2003, 'Branco', 2.0, 20000000099, 2) < -------- EXCLUI ESSA LINHA
INSERT INTO Veiculo VALUES ('DAA0004', 2004, 'Azul', 2.2, 30000000099, 2) < --------- EXCLUI ESSA LINHA
'''

# ATUALIZAÇÃO DE DADOS EM UMA TABELA
Agora que já sabemos como inserir um registro em uma tabela, vamos aprender a atualizar os dados de um registro.

Para atualizar um registro, utilizamos o comando SQL UPDATE. Sua sintaxe é a seguinte:

Assim como no comando INSERT, podemos montar o comando UPDATE de três formas. Uma string sem delimitadores, uma string com o delimitador “?” ou uma string com argumentos nomeados.

Também podemos utilizar os delimitadores na condição da cláusula WHERE.

In [ ]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
conexao.execute("PRAGMA foreign_keys = on")
cursor = conexao.cursor()

# Definição dos comandos
comando1 = '''UPDATE Pessoa SET oculos= 1;'''
cursor.execute(comando1)

comando2 = '''UPDATE Pessoa SET oculos= ? WHERE cpf=30000000099;'''
cursor.execute(comando2, (False,))                                      #    UPDATE Pessoa SET oculos= 0 WHERE cpf=30000000099;

comando3 = '''UPDATE Pessoa SET oculos= :usa_oculos WHERE cpf= :cpf;'''
cursor.execute(comando3, {"usa_oculos": False, "cpf": 20000000099})     #   UPDATE Pessoa SET oculos= 0 WHERE cpf= 20000000099;

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

#REMOÇÃO DE DADOS DE UMA TABELA

Nesta parte deste módulo, iremos aprender a remover registros de uma tabela.

Para remover um registro, utilizamos o comando SQL DELETE. Sua sintaxe é a seguinte:

Assim como nos outros comandos, podemos montar o comando DELETE de três formas. Uma string sem delimitadores, uma string com o delimitador “?” ou uma string com argumentos nomeados. Todos para a condição da cláusula WHERE.

In [ ]:

# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
conexao.execute("PRAGMA foreign_keys = on")
cursor = conexao.cursor()

# Definição dos comandos
comando = '''DELETE FROM Pessoa WHERE cpf= 12345678900;'''
cursor.execute(comando)

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

#SELEÇÃO DE REGISTROS DE UMA TABELA


Neste módulo, aprenderemos a recuperar os registros presentes no banco de dados. Partiremos de consultas mais simples, utilizando apenas uma tabela, até consultas mais sofisticadas, envolvendo os relacionamentos entre tabelas.

Para selecionar e recuperar registros de um banco de dados, utilizamos o comando SQL SELECT.

In [ ]:
'''
SELECT coluna1, coluna2, ... FROM tabela1
WHERE [condição];
'''

Assim como nos outros comandos, podemos utilizar uma string sem delimitadores, uma string com o delimitador “?” ou uma string com argumentos nomeados para a condição da cláusula WHERE.

In [ ]:
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

comando = ''' SELECT nome, oculos FROM Pessoa '''
cursor.execute(comando)

registros = cursor.fetchall()
print("Tipo retornado pelo fetchall();", type(registros))

for registro in registros:
  print("Tipos:", type(registro), '- Conteudo:', registro)

cursor.close()
conexao.close()

Tipo retornado pelo fetchall(); <class 'list'>
Tipos: <class 'tuple'> - Conteudo: ('Maria', 1)
Tipos: <class 'tuple'> - Conteudo: ('José', 0)
Tipos: <class 'tuple'> - Conteudo: ('Raul', 1)

Como o SQLite não cria uma transação para o comando SELECT, não é necessário executar o commit.

In [ ]:

# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Definição dos comandos
comando = '''SELECT * FROM Pessoa WHERE oculos=:usa_oculos;'''
cursor.execute(comando, {"usa_oculos": True})

# Recuperação dos registros
registros = cursor.fetchall()
for registro in registros:
    pessoa = Pessoa(*registro)
    print("cpf:", type(pessoa.cpf), pessoa.cpf)
    print("nome:", type(pessoa.nome), pessoa.nome)
    print("nascimento:", type(pessoa.data_nascimento), pessoa.data_nascimento)
    print("oculos:", type(pessoa.usa_oculos), pessoa.usa_oculos)

# Fechamento das conexões
cursor.close()
conexao.close()

cpf: <class 'int'> 10000000099
nome: <class 'str'> Maria
nascimento: <class 'str'> 1990-01-31
oculos: <class 'int'> 1
cpf: <class 'int'> 45192823811
nome: <class 'str'> Raul
nascimento: <class 'str'> 1998-02-26
oculos: <class 'int'> 1

In [ ]:
'''
Equivale
SELECT * FROM Pessoa WHERE oculos=1;
'''

Comentário
Se estivéssemos utilizando o banco de dados PostgreSQL com o conector psycopg2, como os tipos DATE e BOOLEAN são suportados, esses valores seriam convertidos para o tipo correto.

mostrar como fazer a conversão de datas e booleanos.

In [ ]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db", detect_types=conector.PARSE_DECLTYPES)
cursor = conexao.cursor()

# Funções conversoras
def conv_bool(dado):
    return True if dado == 1 else False

# Registro de conversores
conector.register_converter("BOOLEAN", conv_bool)

# Definição dos comandos
comando = '''SELECT * FROM Pessoa WHERE oculos=:usa_oculos;'''
cursor.execute(comando, {"usa_oculos": True})

# Recuperação dos registros
registros = cursor.fetchall()
for registro in registros:
    pessoa = Pessoa(*registro)
    print("cpf:", type(pessoa.cpf), pessoa.cpf)
    print("nome:", type(pessoa.nome), pessoa.nome)
    print("nascimento:", type(pessoa.data_nascimento), pessoa.data_nascimento)
    print("oculos:", type(pessoa.usa_oculos), pessoa.usa_oculos)

# Fechamento das conexões
cursor.close()
conexao.close()

cpf: <class 'int'> 10000000099
nome: <class 'str'> Maria
nascimento: <class 'datetime.date'> 1990-01-31
oculos: <class 'bool'> False
cpf: <class 'int'> 45192823811
nome: <class 'str'> Raul
nascimento: <class 'datetime.date'> 1998-02-26
oculos: <class 'bool'> False

#SELEÇÃO DE REGISTROS UTILIZANDO JUNÇÃO

vamos buscar os veículos e suas respectivas marcas. Vamos fazer isso por meio da junção de tabelas.

In [ ]:

# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Definição dos comandos
comando = '''SELECT * FROM Veiculos;'''
cursor.execute(comando)

# Recuperação dos registros
reg_veiculos = cursor.fetchall()
for reg_veiculo in reg_veiculos:
    veiculo = Veiculo(*reg_veiculo)
    print("Placa:", veiculo.placa, ", Marca:", veiculo.marca)

# Fechamento das conexões
cursor.close()
conexao.close()

Placa: AAA0001 , Marca: 1
Placa: BAA0002 , Marca: 1

In [ ]:
'''
Equivale
SELECT tab1.col1, tab1.col2, tab2.col1… FROM tab1 JOIN tab2 ON tab1.colN = tab2.colM;
'''

In [ ]:

# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Definição dos comandos
comando = '''SELECT
                Veiculos.placa, Veiculos.ano, Veiculos.cor,
                Veiculos.motor, Veiculos.proprietario,
                Marca.nome FROM Veiculos JOIN Marca ON Marca.id = Veiculos.marca;'''
cursor.execute(comando)

# Recuperação dos registros
reg_veiculos = cursor.fetchall()
for reg_veiculo in reg_veiculos:
    veiculo = Veiculo(*reg_veiculo)
    print("Placa:", veiculo.placa, ", Marca:", veiculo.marca)

# Fechamento das conexões
cursor.close()
conexao.close()

Placa: AAA0001 , Marca: Marca A
Placa: BAA0002 , Marca: Marca A

In [ ]:
'''
Equivale
SELECT Veiculo.placa, Veiculo.ano, Veiculo.cor, Veiculo.motor, Veiculo.proprietario, Marca.nome FROM Veiculo JOIN Marca ON Marca.id = Veiculo.marca;
'''

No próximo exemplo, vamos dar um passo além. Vamos atribuir ao atributo marca, do Veiculo, um objeto do tipo Marca. Desta forma, vamos ter acesso a todos os atributos da marca de um veículo.

Para isso, vamos fazer alguns ajustes no nosso modelo

In [ ]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Definição dos comandos
comando = '''SELECT * FROM
                Veiculos JOIN Marca ON Marca.id = Veiculos.marca;'''
cursor.execute(comando)

# Recuperação dos registros
registros = cursor.fetchall()
for registro in registros:
    print(registro)
    marca = Marca(*registro[6:])
    veiculo = Veiculo(*registro[:5], marca)
    print("Placa:", veiculo.placa, ", Marca:", veiculo.marca.nome)

# Fechamento das conexões
cursor.close()
conexao.close()

('AAA0001', 2001, 'Prata', 1.0, 10000000099, 1, 1, 'Marca A', 'MA')

TypeError: ignored

#SELEÇÃO DE REGISTROS RELACIONADOS

Para finalizar, vamos recuperar todas as pessoas, com seus respectivos veículos e marcas.

Para isso, vamos transformar o script anterior em uma função, de forma que possamos utilizá-la no nosso script final. Observe a Figura 26 a seguir.

In [ ]:

def recuperar_veiculos(conexao, cpf):
    # Aquisição de cursor
    cursor = conexao.cursor()

    # Definição dos comandos
    comando = '''SELECT * FROM Veiculo
                 JOIN Marca ON Marca.id = Veiculo.marca
                 WHERE Veiculo.proprietario = ?;'''
    cursor.execute(comando, (cpf,))

    # Recuperação dos registros
    veiculos = []
    registros = cursor.fetchall()
    for registro in registros:
        marca = Marca(*registro[6:])
        veiculo = Veiculo(*registro[:5], marca)
        veiculos.append(veiculo)

    # Fechamento do cursor
    cursor.close()
    return veiculos