In [ ]:
import sqlite3 as conector

Como o SQLite trabalha com arquivo e não tem suporte à autenticação, para se conectar a um banco de dados SQLite, basta chamar a função connect do módulo sqlite3, passando como argumento o caminho para o arquivo que contém o banco de dados.

Veja a sintaxe a seguir:

In [ ]:
import sqlite3
conexao = sqlite3.connect('meu_banco.db')

Pronto! Isso é o suficiente para termos uma conexão com o banco de dados meu_banco.db e iniciar o envio de comandos SQL para criar tabelas e inserir registros.

Caso o arquivo não exista, ele será criado automaticamente! O arquivo criado pode ser copiado e compartilhado.

Se quisermos criar um banco de dados em memória, que será criado para toda execução do programa, basta utilizar o comando conexao = sqlite3.connect(':memory:').

In [ ]:
import sqlite3 as conector

try:
    # Abertura de conexão e aquisição de cursor
    conexao = conector.connect("./meu_banco.db")
    cursor = conexao.cursor()

    # Execução de um comando: SELECT... CREATE ...
    comando = '''CREATE TABLE Pessoa (
                    cpf INTEGER NOT NULL,
                    nome TEXT NOT NULL,
                    nascimento DATE NOT NULL,
                    oculos BOOLEAN NOT NULL,
                    PRIMARY KEY (cpf)
                    );'''

    cursor.execute(comando)

    # Efetivação do comando
    conexao.commit()

except conector.DatabaseError as err:
    print("Erro de banco de dados", err)

finally:
    # Fechamento das conexões
    if conexao:
        cursor.close()
        conexao.close()

In [ ]:
# Comando SQL para visualizar tabelas
comando_sql = '''
    SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
'''
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Executar o comando SQL
print(cursor.execute(comando_sql))

# Obter todos os resultados da consulta
tabelas = cursor.fetchall()

# Exibir os nomes de todas as tabelas
for tabela in tabelas:
    print(tabela[0])

#Fechando conexão
cursor.close()
conexao.close()

<sqlite3.Cursor object at 0x7ecaeb0531c0>
Pessoa

In [ ]:
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

comando = '''CREATE TABLE Marca (
  id INTEGER NOT NULL,
  nome TEXT NOT NULL,
  sigla CHARACTER(2) NOT NULL,
  PRIMARY KEY (id)
)'''

cursor.execute(comando)

conexao.commit()

cursor.close()
conexao.close()

In [ ]:
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

comando = '''CREATE TABLE Veiculo (
  placa CHARACTER(7) NOT NULL,
  ano INTERGER NOT NULL,
  cor TEXT NOT NULL,
  proprietario INTERGER NOT NULL,
  marca INTEGER NOT NULL,
  PRIMARY KEY (placa),
  FOREIGN KEY(proprietario) REFERENCES Pessoas(cpf),
  FOREIGN KEY(marca) REFERENCES Marca(id)
); '''

cursor.execute(comando)

conexao.commit()

cursor.close()
conexao.close()

#ALTERAÇÃO E REMOÇÃO DE TABELA
Neste momento, temos o nosso banco com as três tabelas

Durante o desenvolvimento, pode ser necessário realizar alterações no nosso modelo e, consequentemente, nas nossas tabelas. Nesta parte do módulo, vamos ver como podemos fazer para adicionar um novo atributo e como fazemos para remover uma tabela.

Para alterar uma tabela e adicionar um novo atributo, precisamos utilizar o comando ALTER TABLE do SQL.

Para ilustrar, vamos adicionar mais um atributo à entidade Veiculo.

O atributo se chama motor e corresponde à motorização do carro: 1.0, 1.4, 2.0 etc. Esse atributo deverá conter pontos flutuantes e, por isso, vamos defini-lo como do tipo REAL.

Para alterar a tabela Veículo e adicionar a coluna motor, utilizamos o seguinte comando SQL.

In [ ]:
'''
ALTER TABLE Veiculo
ADD motor REAL;
'''

In [ ]:
conexao = conector.connect('./meu_banco.db')
cursor = conexao.cursor()

comando = '''ALTER TABLE Veiculo ADD motor REAL; '''

cursor.execute(comando)

conexao.commit()

cursor.close()
conexao.close()

Excluir tabela para recriar na sequencia certa

In [ ]:
conexao = conector.connect('./meu_banco.db')
cursor = conexao.cursor()

comando1 = ''' DROP TABLE Veiculo '''

cursor.execute(comando1)

In [ ]:
comando2 = '''CREATE TABLE Veiculos (
  placa CHARACTER(7) NOT NULL,
  ano INTEGER NOT NULL,
  cor TEXT NOT NULL,
  motor REAL NOT NULL,
  proprietario INTEGER NOT NULL,
  marca INTEGER NOT NULL,
  PRIMARY KEY (placa),
  FOREIGN KEY(proprietario) REFERENCES Pessoa(cpf)
  FOREIGN KEY(marca) REFERENCES Marca(id)
) '''

cursor.execute(comando2)

conexao.commit()

cursor.close()
conexao.close()

In [ ]:
# Comando SQL para visualizar tabelas
comando_sql = '''
    SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
'''
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Executar o comando SQL
print(cursor.execute(comando_sql))

# Obter todos os resultados da consulta
tabelas = cursor.fetchall()

# Exibir os nomes de todas as tabelas
for tabela in tabelas:
    print(tabela[0])

#Fechando conexão
cursor.close()
conexao.close()

<sqlite3.Cursor object at 0x7ecaeb0c78c0>
Marca
Pessoa
Veiculos

Agora as tabelas estão criadas e relacionadas